{% if is_user_authenticated %}
    <h1>🎉 USER PASSWORD UPDATED</h1>
    <p>The password has been successfully updated.</p>
{% else %}
    <h1>⚠️ INVALID USER CREDENTIALS</h1>
    <p>Check if the username and password is correct.</p>
{% endif %}