{% if not user.is_anonymous %}
    <h1>👋🏻 Welcome {{user.first_name}}</h1>
    <h2>Grocery Cart</h2>
    {% if grocery_item_list %}
        <ul>
            {% for item in grocery_item_list %}
                <li><a href="/djangopractice/{{ item.id }}/">{{ item.item_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
    <p>No grocery items have been added</p>
    {% endif %}
    <a href="logout">Logout</a>
{% else %}
    <h1>⚠️ You are not authorized to access this page.</h1>
    <p>Kindly login <a href="login">here</a>.</p>
{% endif %}
