{% if is_user_registered %}
    <h1>⚠️ DUPLICATE USER FOUND</h1>
    <p>A duplicate user has been found, user creation unsuccessful</p>
{% else %}
    <h1>🎉 USER REGISTERED</h1>
    <p>The account for {{first_name}} {{last_name}} has been successfully created</p>
{% endif %}